tensorflow==2.13.1
opencv-python==4.10.0.84
matplotlib==3.10.0
tqdm==4.67.1
scikit-learn==1.6.0
scipy==1.14.1
numpy==1.24.3
git+https://github.com/tensorflow/examples.git@652ee34ff046946c36b8aed5d97ecebab0699f7e
